{% extends 'default.html' %}

{% load static %}

{% block cover-image %}
<!-- 封面 -->
<img width='100%' src="{% static 'images/Cover__app__home_page.png' %}">
<h1 class="red center mt-5 mb-5">Documentation <text style="font-size: 1rem">網頁介紹</text></h1>


<div class="block-content">
    <div class="row p-1">
        <div class="col-lg-5 vcenter-item center">
            <h5 class="red mb-3">NKUST <small><small>Department of Money and Banking</small></small></h5>

            <p class="b">C107125248 李享紝</p>

        </div>
        <div class="col-lg-3 center vcenter-item print-avatar">
            <img class='mb-3' width="100%" src="{% static 'images/Avatar.png' %}">
            <div class="blue fa-lg">

                <text class="b" style="font-size: 1rem">@hsiangjenli</text>
            </div>
        </div>
    </div>
</div>


<div class="bg-red page-br block-content pt-5">
    <h2 class="hr mb-5"><i class="fa-solid fa-hammer red"></i> 套件</h2>
    <div class="row b pr-5 pl-5">
        <!-- Python -->
        <div class="col-lg-4">
            <h4>Python & Database</h4>
            <ol class="pl-3">
                <li>MongoDB, pymongo</li>
                <li>apyori</li>
                <li>pyvis, Vis Network</li>
            
            </ol>

        </div>
        <!-- JS -->
        <div class="col-lg-4">
            <h4>JavaScript & CSS</h4>
            <ol class="pl-3">
                <li>Plotly.js</li>
                <li>Bootstrap 4.3.1</li>
                <li>ajax, jquery</li>
                <li>Vis Network</li>
            </ol>
        </div>
        <!-- Images, Icon -->
        <div class="col-lg-4">
            <h4>Image & Icon</h4>
            <ol class="pl-3">
                <li>Font Awesome</li>
                <li>unDraw</li>
                <li>Icons8</li>
            </ol>
        </div>
    </div>
</div>


<div class="block-content pt-5 page-br">
    <!-- 1.0_台灣股市 -->
    <h2 class="hr mb-5"><i class="fas fa-rocket red"></i> <a href="{% url 'app__overview:home' %}">台灣股市總覽</a></h2>

    <div class="row mb-5">
        <!-- 1.11_上漲/下跌聲量 -->
        <div class="col-lg-5">
            <ol>
                <li>上漲/下跌聲量</li>
            </ol>
        </div>
        <div class="col-lg-7 center"><img class='w-50' src="https://i.imgur.com/fclYezC.png"></div>
    </div>


    <div class="row mb-5">
        <!-- 1.12_指數走勢 -->
        <div class="col-lg-5">
            <ol start="2">

                <li>當日台灣加權股價指數走勢（每10分鐘）</li>
            </ol>
        </div>
        <div class="col-lg-7 center"><img class='w-75' src="https://i.imgur.com/QddMbYX.png"></div>
    </div>


    <div class="row mb-5">
        <!-- 1.13_歷史股價 -->
        <div class="col-lg-5">
            <ol start="3">
                <li>歷史股價</li> ![Image](https://i.imgur.com/eEISib3.png)
            </ol>
        </div>
        <div class="col-lg-7 center"><img class='w-75 vcenter-item' src="https://i.imgur.com/eEISib3.png"></div>
    </div>

    <div class="row mb-5">
        <!-- 1.14_最新 -->
        <div class="col-lg-5">
            <ol start="4">
                <li>最新新聞 <span class="badge bg-black white">New Features</span></li>
            </ol>
        </div>
        <div class="col-lg-7 center">
            <!-- <img class='w-75 vcenter-item' src="https://i.imgur.com/OES5daA.png"> -->
            <img class="w-75 vcenter-item" src="{% static 'images/GIF__RecommendNews.gif' %}">

        </div>
    </div>

    <div class="row mb-5">
        <!-- 1.15_推薦 -->
        <div class="col-lg-5">
            <ol start="5">
                <li>推薦相關新聞 <span class="badge bg-black white">New Features</span></li>

            </ol>
        </div>
        <div class="col-lg-7 center">
            <img class='w-75 vcenter-item' src="https://i.imgur.com/XNp8UEm.png">
        </div>
    </div>
    <!-- 1.2_Apriori Algorithm 台股關聯性分析 -->



</div>



<!-- 2.0_熱門人物 -->
<div class="block-content bg-red pt-5">
    <a href="{% url 'app__top_person:home' %}">
        <h2 class="hr mb-5"><i class="fas fa-street-view red"></i> 熱門人物</h2>
    </a>
    <div class="row mb-5">
        <div class="col-lg-5 vcenter-item"></div>
        <div class="col-lg-7 vcenter-item center"><img class='w-75' src="https://i.imgur.com/NDIhRtq.png"></div>
    </div>
</div>



<div class="block-content pt-5">
    <!-- 3.0_個人化關鍵字 -->
    <a href="{% url 'app__user_key:home' %}">
        <h2 class="hr mb-5"><i class="fas fa-key red"></i> 個人化關鍵字</h2>
    </a>
    <div class="row mb-5">
        <div class="col-lg-5 vcenter-item">![Image](https://i.imgur.com/DpqIs4b.png)</div>
        <div class="col-lg-7 vcenter-item center"><img class='w-75' src="https://i.imgur.com/DpqIs4b.png"></div>
    </div>
</div>



<!-- 4.0_情感性分析 -->
<div class="block-content bg-red pt-5">

    <h2 class="hr mb-5"><i class="fas fa-dizzy red"></i>
        <a href="{% url 'app__user_key_sentiment:home' %}">情感性分析</a>
        <span class="badge bg-black white">New Features</span>
    </h2>

    <div class="row mb-5">
        <!-- 4.1 -->
        <div class="col-lg-5 vcenter-item"></div>
        <div class="col-lg-7 vcenter-item center"><img class='w-75' src="https://i.imgur.com/vt9OjUS.png"></div>
    </div>


    <div class="row mb-5">
        <!-- 4.2 -->
        <div class="col-lg-5 vcenter-item"></div>
        <div class="col-lg-7 vcenter-item center"><img class='w-50' src="https://i.imgur.com/GweqesB.png"></div>
    </div>


    <div class="row">
        <!-- 4.3 -->
        <div class="col-lg-5 vcenter-item">![Image](https://i.imgur.com/jc13YNZ.png)</div>
        <div class="col-lg-7 vcenter-item center"><img class='w-75' src="https://i.imgur.com/jc13YNZ.png"></div>
    </div>
</div>



<div class="block-content pt-5">
    <!-- 5.0_新聞分類 -->
    <br><br>
    <h2 class="hr mb-5"><i class="far fa-object-group red"></i>
        <a href="{% url 'app__news_classification_bert:home' %}">新聞類別判斷系統</a>
        <span class="badge bg-black white">New Features</span>
    </h2>

    <div class="row">
        <div class="col-lg-5 vcenter-item">![Image](https://i.imgur.com/5Nt07U7.png)</div>
        <div class="col-lg-7 vcenter-item center"><img class='w-75' src="https://i.imgur.com/5Nt07U7.png"></div>
    </div>
</div>



<div class="block-content bg-red pt-5">
    <!-- 6.0_非關聯式全文檢索 -->
    <br><br>
    <h2 class="hr mb-5"><i class="far fa-object-group red"></i>
        <a href="{% url 'app__fullcontext_search:home' %}">非關聯式資料庫全文檢索</a>
        <span class="badge bg-black white">New Features</span>
    </h2>

    <div class="row">
        <div class="col-lg-5 vcenter-item">
            <hr>
            <ul>
                <li><a href="https://stackoverflow.com/questions/48371016/pymongo-how-to-use-full-text-search">Pymongo
                        how to use full text search</a></li>
              
                <li><a href="https://stackoverflow.com/questions/16586180/typeerror-objectid-is-not-json-serializable">TypeError:
                        ObjectId('') is not JSON serializable</a></li>
         
                <li><a href="https://codepen.io/buglessir/pen/MWwOaKd">Vanilla JavaScript tags and chips management</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-7 vcenter-item center">
            <img class='w-75' src="https://i.imgur.com/nPRISL9.png">

            <img class='w-75' src="https://i.imgur.com/kSkhBbZ.png">
        </div>
    </div>
</div>



<div class="block-content pt-5">
    <!-- 7.0_Apriori -->
    <br><br>
    <h2 class="hr mb-5"><i class="far fa-object-group red"></i>
        Apriori演算法
        <span class="badge bg-black white">New Features</span>
    </h2>

    <h4 class="mb-5">台股上漲/下跌關聯字</h4>
    <div class="row mb-5">
        <div class="col-lg-5">
            <ol>
                <li>上漲/下跌關聯字</li>
                <p>
                    以台股新聞中的<text class="red b">上漲</text>、<text
                        class="red b">下跌</text>作為關鍵字，過濾新聞，並且使用中研院的斷詞套件進行斷詞。找出同時跟關鍵字同時出現的關聯字。
                </p>
            </ol>
            <hr>
            <ul>
                <li><a href="https://www.section.io/engineering-education/apriori-algorithm-in-python/">Getting Started with Apriori Algorithm in Python</a></li>
            
                <li><a href="https://pyvis.readthedocs.io/en/latest/tutorial.html">Tutorial - pyvis 0.1.3.1 documentation</a></li>
         
                <li>Python/套件/繪圖 <span class="badge bg-black white">pyvis</span></li>
            
                <li>Python/套件/演算法/Apriori <span class="badge bg-black white">apyori</span></li>
            </ul>
        </div>
        <div class="col-lg-7 vcenter-item center"><img class='w-75' src="https://i.imgur.com/aRfNWTO.png"></div>
    </div>



    <h4 class="mb-5">104人力銀行關聯字</h4>
    <div class="row">

        <div class="col-lg-5">
            <ol start="2">
                <li class="mb-2">工作技能關聯字</li>
                <p class="mb-2">以<text class="red b">金融&資料分析</text>作為關鍵字，在104人力銀行爬取相關工作的技能。並且使用中研院斷詞套件進行斷詞，同時使用詞性過濾以及停斷詞刪除贅詞。</p>
                <p class="mb-2">使用藉由滑動橫桿的方式傳入<text class="red b">SUPPORT（支持度、顯著性）</text>。</p>
                <p class="mb-2">最後使用<text class="red b">Apriori</text>演算法進行分析，並且使用<text class="red b">Vis Network</text>繪製成關聯圖。</p>
            </ol>
            <hr>
            <ul>
                <li><a href="https://visjs.github.io/vis-network/examples/">JavaScript/套件/Vis Network</a><span class="badge bg-black white">Vis Network</span></li>
          
                <li>Python/套件/演算法/Apriori <span class="badge bg-black white">apyori</span></li>
                <br>
            </ul>
        </div>
        <div class="col-lg-7 vcenter-item center">
            <img class='w-75 mb-5' src="https://i.imgur.com/mhez4FD.png">
            <img class='w-75' src="https://i.imgur.com/bwm6WMX.png">
        </div>
    </div>
</div>

{% endblock %}