<div class="row">
    <div class="col-sm-5 col-md-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="iconify" data-icon="bx:trending-up" style="color: #d92323;" data-width="2.5rem"></span>
                    &nbsp;上漲聲量
                </h5>
                <p class="card-text red monitor">
                    80%
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-3 offset-md-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="iconify" data-icon="bx:trending-down" style="color: #23d932;"
                        data-width="2.5rem"></span>
                    &nbsp;下跌聲量
                </h5>
                <p class="card-text green monitor">
                    20%
                </p>

            </div>
        </div>
    </div>
    <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    <span class="iconify grey" data-icon="icon-park-outline:stock-market" data-width="2.5rem"></span>
                    &nbsp;今日股票走勢
                </h5>
                <div class='monitor' id='myDiv'></div>
    


            </div>
        </div>
    </div>
</div>