@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css2?family=Capriola&family=Lexend+Deca:wght@400;900&display=swap');

body{
  font-family: 'Lexend Deca', 'Noto Sans TC',sans-serif !important;
}

/* 底線 */
.hr {
  padding-bottom: .3em;
  border-bottom: 1px solid #eee;
}