@import 'bootstrap.css';
@import 'chart.css';
@import 'font.css';
@import 'chips.css';

p, text {
    text-align: justfy
}
.center {
    text-align: center;
    vertical-align: middle;
}


.btn {
    background-color: var(--main-color-yellow);
    color: white;
}

.btn-link {
    color: var(--main-color-yellow);
}
small a {
    color: var(--main-color-yellow) !important;
}

.row {
    padding: 0rem;
}

.blur {
    filter: blur(1px) grayscale(20%);
    opacity: 50%;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.block-content {
    padding: calc(10% - 100px);
    /* padding-top: 2rem; */
    padding-right: calc(25% - 80px);
    padding-left: calc(25% - 80px);
}
.block-content-max {
    padding: calc(10% - 100px);
    /* padding-top: 2rem; */
    padding-right: calc(5% + 80px);
    padding-left: calc(5% + 80px);
}
.logo {
    width: calc(18% + 200px);
}

.icon {
    width: 20px;
    color: var(--main-color-yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
    word-break:break-word;
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
}

.font-bold {
    font-weight: bolder;
}

/* .row {
    padding: .5rem;
} */

.monitor {
    font-size: 5rem;
    font-weight: bolder;
    text-align: center;
    height: 13rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-block {
    background-color: var(--main-color-yellow);
    padding: 2rem;
}

.fix-height {
    height: 100%;
    width: 100%;
}

.card-header {
    background-color: transparent;
    text-align: center;
}

.cover-image {
    position: relative;

}