{% extends 'default.html' %}

{% load static %}

{% block cover-image %}
<img width='100%' src="{% static 'images/Cover__app__twstock_apriori.png' %}">

<div class="row block-content center">
    <div class="col-lg-12 mb-5">

        <h1 class="red mb-5">Apriori Algorithm <text style="font-size: 1rem">台股關聯性分析</text></h1>
        <div class="center-justify b m-5">
            以台股新聞中的<text class="red">上漲、下跌</text>作為關鍵字，過濾新聞，並且使用中研院的斷詞套件進行斷詞。找出出現
        
        </div>
    </div>
</div>

<div class="bg-grey center">
    <div class="row block-content-max">
        <div class="col-lg-6 mb-5">
            <div class="card-header">
                <h6 class="text-uppercase mb-0"><i class="fas fa-arrow-up red"></i> 上漲關聯字</h6>
            </div>
            <iframe width='100%' height='700px' scrolling="no" style="border:none;"
                src="http://127.0.0.1:8000/iframe/rise"></iframe>
        </div>


        <div class="col-lg-6 mb-5">
            <div class="card-header">
                <h6 class="text-uppercase mb-0"><i class="fas fa-arrow-down white"></i> 下跌關聯字</h6>
            </div>
            <iframe width='100%' height='700px' scrolling="no" style="border:none;"
                src="http://127.0.0.1:8000/iframe/fall"></iframe>
        </div>
    </div>


</div>



<div class="row block-content">

    <div class="col-lg-12 center">
        <h1 class="red">Apriori <text style="font-size: 1rem">先驗演算法</text></h1>
    </div>


    <div class="col-lg-12 mb-5">
        <h6 class="text-uppercase mb-0 red">Reference</h6>

    </div>
</div>
{% endblock %}



{% block js %}

{% endblock %}