{% extends 'default.html' %}

{% block content %}

<div class="row row-eq-height">

  <div class="col-lg-12">
    <h1>你關心的關鍵詞的情緒分析</h1>
    <p>可以了解媒體對該關鍵詞的情緒程度</p>
  </div>
  <div class="col">
    <!-- 輸入條件區塊開始 -->
    <div class="card">
      <div class="card-header">
        <h6 class="text-uppercase mb-0"><i class="fa-solid fa-circle-check icon"></i> 輸入條件</h6>
      </div>
      <div class="card-body">
        <div class="form-group row">
          <label class="col-md-3 form-control-label">關鍵詞</label>
          <div class="col-md-9">
            <input id="input_keyword" name="userkey" value="台灣" class="form-control form-control-success" />
            <small class="form-text text-muted">查找的關鍵字(或片段文字)，可輸入多個，空白隔開。
            </small>
          </div>
        </div>

        <div class="row">
          <label class="col-sm-3 form-control-label">條件</label>

          <div class="col-md-9 radio mb-3">
            <label class="radio-inline"><input type="radio" value="and" name="condradio" checked />and</label>
            <label class="radio-inline"><input type="radio" value="or" name="condradio" />or</label>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">新聞類別</label>
          <div class="col-md-9">

            <label class="radio-inline"><input type="radio" value="全部" name="cateradio" checked>全部</label>
            <label class="radio-inline"><input type="radio" value="tw_stock_news" name="cateradio">台股新聞</label>
            <label class="radio-inline"><input type="radio" value="tw_macro" name="cateradio">台灣政經</label>
            <label class="radio-inline"><input type="radio" value="tw_quo" name="cateradio">台股盤勢</label>
            <label class="radio-inline"><input type="radio" value="wd_macro" name="cateradio">國際政經</label>
            <label class="radio-inline"><input type="radio" value="us_stock" name="cateradio">美股</label>
            <label class="radio-inline"><input type="radio" value="eu_asia_stock" name="cateradio">歐亞股</label>
            <label class="radio-inline"><input type="radio" value="cn_macro" name="cateradio">中國政經</label>
            <label class="radio-inline"><input type="radio" value="hk_stock" name="cateradio">港股</label>
            <label class="radio-inline"><input type="radio" value="sh_stock" name="cateradio">A股</label>
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 form-control-label">最近多少周?</label>
          <div class="col-md-9">
            <label class="radio-inline"><input type="radio" value="1" name="wkradio" />1</label>
            <label class="radio-inline"><input type="radio" value="2" name="wkradio" checked />2</label>
            <label class="radio-inline"><input type="radio" value="3" name="wkradio" />3</label>
            <label class="radio-inline"><input type="radio" value="4" name="wkradio" />4</label>
            <label class="radio-inline"><input type="radio" value="6" name="wkradio" />6</label>
            <label class="radio-inline"><input type="radio" value="8" name="wkradio" />8</label>
            <label class="radio-inline"><input type="radio" value="12" name="wkradio" />12</label>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- 輸入區塊結束-->

  <!-- 顯示區塊-->
  <div class="col">
    <div class="card">
      <div class="card-header">
        <h6 class="text-uppercase mb-0"><i class="fas fa-dizzy red"></i> 情緒分析</h6>
      </div>
      <div class="card-body">
        <div class="row">
          <canvas id="article_senti_pie_chart"></canvas>
        </div>
        <div>
          <br>
          <div align='center' style='font-weight: bolder;' id="senti_info"></div>
          <br>
        </div>
      </div>
    </div>
  </div>
  <!-- 區塊結束-->


</div>
<!-- 顯示區塊-->
<div class="row">
  <div class="col-lg-12 mb-12">
    <div class="card">
      <div class="card-header">
        <h6 class="text-uppercase mb-0"><i class="fa-solid fa-chart-line icon"></i> 正反面情緒變化</h6>
      </div>
      <div class="card-body">
        <small>每個時間點的正反面報導的篇數(每天統計，6周含以上以5天為單位統計)</small>
        <div class="row">
          <canvas height='100px' id="time_line_chart"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 區塊結束-->

{% endblock %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<!-- chartjs圖js-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
<!-- 程式碼區 -->
<script>
  call_ajax();

  //**按鈕事件
  $("#btn_ok").on("click", function () {
    call_ajax();
  }); //event function

  $("input[name='cateradio']").on("change", function () {
    call_ajax();
  }); //event function

  $("input[name='wkradio']").on("change", function () {
    call_ajax();
  }); //event function

  $("input[name='condradio']").on("change", function () {
    call_ajax();
  }); //event function

  // Draw the sentiment line chart here!
  let linechartElem = document
    .getElementById("time_line_chart")
    .getContext("2d");
  //let linechart = null;

  // pie chart
  let piechartElem = document
    .getElementById("article_senti_pie_chart")
    .getContext("2d");

  // Ajax function to draw charts
  function call_ajax() {
    const userkey = $("#input_keyword").val();
    const weeks = $("input[name='wkradio']:checked").val();
    const cate = $("input[name='cateradio']:checked").val();
    const cond = $("input[name='condradio']:checked").val();

    if (userkey.length < 2) {
      alert("輸入關鍵字不可空白或小於兩個中文字!");
      return 0;
    }

    $.ajax({
      type: "POST",
      url: "api/get_userkey_sentiment",
      data: {
        userkey: userkey,
        cate: cate,
        weeks: weeks,
        cond: cond,
      },
      success: function (received) {
        const data_pie = received["sentiCount"];
        if (window.piechart) piechart.destroy();
        piechart = drawPieChart(piechartElem, data_pie);

        var colors = ["#C0AA7A", "#404040", "#D9D9D9"]

        $("#senti_info").empty();
        // for (let k in data_pie) {
        //   $("#senti_info").append('<div class="col-sm"> ' + k + data_pie[k]+'</div> ')
        //   // $("#senti_info").append(k + ": " + data_pie[k] + "篇 ");
        // }
        $("#senti_info").append('<i class="far fa-laugh-beam"></i> ' + data_pie.pos + "篇&nbsp;&nbsp;&nbsp;&nbsp;");
        $("#senti_info").append('<i class="far fa-angry"></i> ' + data_pie.neg + "篇&nbsp;&nbsp;&nbsp;&nbsp;");
        $("#senti_info").append('<i class="fas fa-balance-scale"></i> ' + data_pie.neutral + "篇</h6>");

        // draw time-based line chart
        const data_pos = received["data_pos"];
        const data_neg = received["data_neg"];

        // 先清除前一個圖形
        if (window.linechart) linechart.destroy();
        // 畫線圖
        linechart = drawLineChart(linechartElem, data_pos, data_neg);
      }, //success function
    }); //ajax
  } //function call_ajax()

  // PieChart function寫法
  function drawPieChart(chartElem, data_pie) {
    let chartSpec = {
      type: "pie",
      data: {
        labels: ["正面", "負面", "中立"],
        datasets: [
          {
            data: [data_pie['pos'], data_pie['neg'], data_pie['neutral']],
            backgroundColor: ["#C0AA7A", "#404040", "#D9D9D9"],
          },
        ],
      },
      options: {},
    };
    return new Chart(chartElem, chartSpec);
  }

  // Line chart function
  function drawLineChart(linechartElem, data_pos, data_neg) {
    // for positive sentiment line chart
    let dataPos = {
      label: "正面",
      data: data_pos,
      borderColor: "rgba(192, 170, 122, 1)", //"blue", //藍色表示正面
      backgroundColor: "rgba(192, 170, 122, 0.6)", //背景顏色
      borderWidth: 3,
      fill: true,

    };
    // for negative sentiment line chart
    let dataNeg = {
      label: "負面",
      data: data_neg,
      borderColor: "rgba(97, 97, 97, 0.7)",//"red", //紅色表示負面
      backgroundColor: "rgba(126, 126, 126, 0.3)", //背景顏色
      borderWidth: 3,
      fill: true,
    };

    let options_detail = {
      legend: {
        display: true,
      },
      scales: {
        xAxes: [
          {
            type: "time",
            time: {
              unit: "day",
              displayFormats: {
                //day: 'DD-MM-YYYY'
                day: "MM/DD",
              },
            },
          },
        ],
        yAxes: [
          {
            ticks: {
              beginAtZero: true,
            },
            display: true,
            scaleLabel: {
              display: true,
              labelString: "篇數",
            },
          },
        ],
      },
    };

    let chart_spec = {
      type: "line",
      data: {
        datasets: [dataPos, dataNeg], //有兩條線，兩組資料使用陣列存放即可
      },
      options: options_detail,
    };

    // now draw the sentiment line chart
    //if (linechart)
    //    linechart.destroy();
    return new Chart(linechartElem, chart_spec);
  }

</script>
{% endblock %}