{% extends 'default.html' %}

{% load static %}

{% block cover-image %}
<img width='100%' src="{% static 'images/Cover__app__job104.png' %}">

<div class="block-content">
    <h1 class="red center">Apriori <text style="font-size: 1rem">104人力銀行</text></h1>
</div>
<div class="block-content row pt-0">

    <div class="col-lg-2 vcenter-item">
        <h5>Support</h5>
    </div>
    <div class="col-lg-6 vcenter-item">
        <input type="range" id="myRange" max="1" min="0.01" step="0.01" value="0.19" class="form-control-range">
    </div>
    <div class="col-lg-2 vcenter-item center">
        <h5><span id="myValue"></span></h5>
    </div>
    <div class="col-lg-2">
        <button type="button" id="btn_search" class="btn">更新</button>
    </div>
</div>


<div class="bg-red pt-5">

    <h2 class="b red center pb-5"><i class="fa-solid fa-clipboard-user red"></i> 關聯性分析</h2>
    <div id="mynetwork"></div>
</div>

{% endblock %}



{% block js %}
<script src="https://visjs.github.io/vis-network/standalone/umd/vis-network.min.js"></script>
<script>
    var myRange = document.querySelector('#myRange');
    var myValue = document.querySelector('#myValue');

    var off = myRange.offsetWidth / (parseInt(myRange.max) - parseInt(myRange.min));
    var px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetParent.offsetWidth / 2);

    myValue.parentElement.style.left = px + 'px';
    myValue.parentElement.style.top = myRange.offsetHeight + 'px';
    myValue.innerHTML = myRange.value + ' ';

    myRange.oninput = function () {
        let px = ((myRange.valueAsNumber - parseInt(myRange.min)) * off) - (myValue.offsetWidth / 2);
        myValue.innerHTML = myRange.value + ' ';
        myValue.parentElement.style.left = px + 'px';
    };
</script>

<script>
    $('#btn_search').on('click', function (e) {
        var myRange = document.querySelector('#myRange');
        // console.log(myRange.value)
        $.ajax({
            type: "POST",
            url: "api/job104",
            dataType: "json",
            data: {
                "support": myRange.value,
            },
            success: function (received) {

                var nodes = null;
                var edges = null;
                var network = null;
                draw();
                function draw() {

                    var nodes = received['Nodes'];
                    var edges = received['Edges'];
                    console.log(nodes)

                    var container = document.getElementById("mynetwork");
                    var data = {
                        nodes: nodes,
                        edges: edges,
                    };
                    var options = {
                        nodes: {
                            shape: "dot",
                            scaling: {
                                label: {
                                    min: 10,
                                    max: 20,
                                },
                            },
                        },
                    };
                    network = new vis.Network(container, data, options);
                }

                


            }
        });

    });
</script>





<!-- 
<script>

    var nodes = null;
    var edges = null;
    var network = null;

    function draw() {
        // create people.
        // value corresponds with the age of the person
        nodes = [{ 'id': 1, 'label': '分析', 'color': '#C0AA7A', 'value': 32 },
        { 'id': 2, 'label': 'Python', 'color': '#C0AA7A', 'value': 3 },
        { 'id': 3, 'label': '資料', 'color': '#C0AA7A', 'value': 5 },
        { 'id': 4, 'label': '溝通', 'color': '#C0AA7A', 'value': 8 },
        { 'id': 5, 'label': '積極', 'color': '#C0AA7A', 'value': 2 },
        { 'id': 6, 'label': '團隊', 'color': '#C0AA7A', 'value': 7 },
        { 'id': 7, 'label': '研究', 'color': '#C0AA7A', 'value': 4 },
        { 'id': 8, 'label': '開發', 'color': '#C0AA7A', 'value': 4 },
        { 'id': 9, 'label': '投資', 'color': '#C0AA7A', 'value': 3 },
        { 'id': 10, 'label': '撰寫', 'color': '#C0AA7A', 'value': 2 },
        { 'id': 11, 'label': '業務', 'color': '#C0AA7A', 'value': 3 },
        { 'id': 12, 'label': '管理', 'color': '#C0AA7A', 'value': 2 },
        { 'id': 13, 'label': '模型', 'color': '#F2F2F2', 'value': 3 },
        { 'id': 14, 'label': '主動', 'color': '#F2F2F2', 'value': 3 },
        { 'id': 15, 'label': '協調', 'color': '#F2F2F2', 'value': 2 },
        { 'id': 16, 'label': '合作', 'color': '#F2F2F2', 'value': 6 },
        { 'id': 17, 'label': '報告', 'color': '#F2F2F2', 'value': 3 },
        { 'id': 18, 'label': '專案', 'color': '#F2F2F2', 'value': 2 },
        { 'id': 19, 'label': '應用', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 20, 'label': '架構', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 21, 'label': '流程', 'color': '#F2F2F2', 'value': 3 },
        { 'id': 22, 'label': '獨立', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 23, 'label': '發展', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 24, 'label': '策略', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 25, 'label': '簡報', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 26, 'label': '系統', 'color': '#F2F2F2', 'value': 3 },
        { 'id': 27, 'label': '統計', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 28, 'label': '規劃', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 29, 'label': '證照', 'color': '#F2F2F2', 'value': 2 },
        { 'id': 30, 'label': '資料庫', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 31, 'label': '資訊', 'color': '#F2F2F2', 'value': 1 },
        { 'id': 32, 'label': '邏輯', 'color': '#F2F2F2', 'value': 3 },
        { 'id': 33, 'label': '部門', 'color': '#F2F2F2', 'value': 1 }];

        // create connections between people
        // value corresponds with the amount of contact between two people
        edges = [{ 'from': 1, 'to': 2, 'value': 1 },
        { 'from': 2, 'to': 13, 'value': 1 },
        { 'from': 3, 'to': 2, 'value': 1 },
        { 'from': 1, 'to': 14, 'value': 1 },
        { 'from': 4, 'to': 14, 'value': 1 },
        { 'from': 5, 'to': 14, 'value': 1 },
        { 'from': 1, 'to': 15, 'value': 1 },
        { 'from': 1, 'to': 16, 'value': 1 },
        { 'from': 1, 'to': 6, 'value': 1 },
        { 'from': 1, 'to': 17, 'value': 1 },
        { 'from': 1, 'to': 18, 'value': 1 },
        { 'from': 1, 'to': 19, 'value': 1 },
        { 'from': 1, 'to': 9, 'value': 1 },
        { 'from': 1, 'to': 10, 'value': 1 },
        { 'from': 1, 'to': 20, 'value': 1 },
        { 'from': 1, 'to': 11, 'value': 1 },
        { 'from': 1, 'to': 13, 'value': 1 },
        { 'from': 1, 'to': 21, 'value': 1 },
        { 'from': 1, 'to': 4, 'value': 1 },
        { 'from': 1, 'to': 22, 'value': 1 },
        { 'from': 1, 'to': 23, 'value': 1 },
        { 'from': 1, 'to': 7, 'value': 1 },
        { 'from': 1, 'to': 5, 'value': 1 },
        { 'from': 1, 'to': 24, 'value': 1 },
        { 'from': 1, 'to': 12, 'value': 1 },
        { 'from': 1, 'to': 25, 'value': 1 },
        { 'from': 1, 'to': 26, 'value': 1 },
        { 'from': 1, 'to': 27, 'value': 1 },
        { 'from': 1, 'to': 28, 'value': 1 },
        { 'from': 1, 'to': 29, 'value': 1 },
        { 'from': 1, 'to': 3, 'value': 1 },
        { 'from': 1, 'to': 30, 'value': 1 },
        { 'from': 1, 'to': 31, 'value': 1 },
        { 'from': 1, 'to': 32, 'value': 1 },
        { 'from': 1, 'to': 33, 'value': 1 },
        { 'from': 1, 'to': 8, 'value': 1 },
        { 'from': 4, 'to': 15, 'value': 1 },
        { 'from': 6, 'to': 16, 'value': 1 },
        { 'from': 4, 'to': 16, 'value': 1 },
        { 'from': 7, 'to': 16, 'value': 1 },
        { 'from': 3, 'to': 16, 'value': 1 },
        { 'from': 8, 'to': 16, 'value': 1 },
        { 'from': 6, 'to': 18, 'value': 1 },
        { 'from': 4, 'to': 6, 'value': 1 },
        { 'from': 3, 'to': 6, 'value': 1 },
        { 'from': 6, 'to': 32, 'value': 1 },
        { 'from': 8, 'to': 6, 'value': 1 },
        { 'from': 9, 'to': 17, 'value': 1 },
        { 'from': 7, 'to': 17, 'value': 1 },
        { 'from': 7, 'to': 9, 'value': 1 },
        { 'from': 10, 'to': 29, 'value': 1 },
        { 'from': 4, 'to': 11, 'value': 1 },
        { 'from': 11, 'to': 26, 'value': 1 },
        { 'from': 3, 'to': 13, 'value': 1 },
        { 'from': 4, 'to': 21, 'value': 1 },
        { 'from': 12, 'to': 21, 'value': 1 },
        { 'from': 4, 'to': 32, 'value': 1 },
        { 'from': 8, 'to': 26, 'value': 1 }];

        // Instantiate our network object.
        var container = document.getElementById("mynetwork");
        var data = {
            nodes: nodes,
            edges: edges,
        };
        var options = {
            nodes: {
                shape: "dot",
                scaling: {
                    label: {
                        min: 10,
                        max: 20,
                    },
                },
            },
        };
        network = new vis.Network(container, data, options);
    }

    window.addEventListener("load", () => {
        draw();
    });

</script> -->
{% endblock %}