<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="{% url 'app__home_page:home' %}">
        <img src="https://raw.githubusercontent.com/hsiangjenli/hsiangjenli/main/Profiles/Geo__cat_01.png" height="30"
            class="d-inline-block align-top" alt="">
        <strong>POA</strong>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="{% url 'app__home_page:home' %}">Home <span
                    class="sr-only">(current)</span></a>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    台灣股市
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'app__overview:home' %}">Overview 台股總覽</a>
                    <a class="dropdown-item" href="{% url 'app__twstock_apriori:home' %}">Apriori 關聯性分析</a>
                    <div class="dropdown-divider"></div>
                    <center>🇹🇼 加油 <i class="fas fa-bullhorn red"></i></center>
                </div>
            </li>
            
            <a class="nav-item nav-link" href="{% url 'app__cb_fsc:home' %}">主管機關</a>
            <a class="nav-item nav-link" href="{% url 'app__top_person:home' %}">關鍵人物分析</a>
            <a class="nav-item nav-link" href="{% url 'app__user_key:home' %}">個人化關鍵字</a>
            <a class="nav-item nav-link" href="{% url 'app__user_key_sentiment:home' %}">情緒分析</a>
            <a class="nav-item nav-link" href="{% url 'app__news_classification_bert:home' %}">新聞類別判斷系統</a>
            <a class="nav-item nav-link" href="{% url 'app__fullcontext_search:home' %}">全文檢索</a>


            <a class="nav-item nav-link" href="https://gitlab.com/hsiangjenli"><img class='icon'
                    src="https://img.icons8.com/color/48/000000/gitlab.png" /></a>


        </div>
    </div>
</nav>