<!-- Header -->
<header class="header" id="header">
    <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    NKUST-1102-Public-Opinion-Analysis
    <div class="header_img"> <img src="https://avatars.githubusercontent.com/u/71996166?v=4" alt=""> </div>
</header>

<!-- Header -->
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div>
            <a href="#" class="nav_logo">
                <i class='bx bx-layer nav_logo-icon'></i>
                <span class="nav_logo-name">POA</span>
            </a>

            <div class="nav_list">

                <a href="#" class="nav_link active">
                    <span class="iconify" data-icon="bx:grid-alt" style="color: white;" data-width="1.25rem"></span>
                    <span class="nav_name">Overview</span> </a>

                <a href="#" class="nav_link">
                    <span class="iconify" data-icon="icon-park-outline:stock-market" style="color: white;"
                        data-width="1.25rem"></span>
                    <span class="nav_name">Markets</span> </a>

                <a href="#" class="nav_link">
                    <span class="bx bx-grid-alt nav_icon iconify" data-icon="bx:news" style="color: white;"
                        data-width="1.25rem"></span>
                    <span class="nav_name">News</span> </a>

                <a href="#" class="nav_link">
                    <span class="iconify" data-icon="bx:cloud-rain" style="color: white;" data-width="1.25rem"></span>
                    <span class="nav_name">Word Cloud</span> </a>

                <a href="#" class="nav_link">
                    <span class="iconify" data-icon="bx:bar-chart-alt-2" style="color: white;"
                        data-width="1.25rem"></span>
                    <span class="nav_name">Stats</span> </a>
            </div>
        </div>

        <a href="#" class="nav_link">
            <i class='bx bx-log-out nav_icon'></i>
            <span class="nav_name">SignOut</span>
        </a>
    </nav>
</div>