{% extends 'default.html' %}
{% load static %}


{% block cover-image %}
<img width='100%' src="{% static 'images/簡報1.png' %}">
<div class="row">
    <div class="col">
        <div class="block-content">
            {%include 'app__overview/monitor.html'%}
        </div>
        
        
    </div>
    
</div>
<div class="row bg-red">
    <div class="col">
        <div class="block-content">{%include 'app__overview/twse.html'%}</div>
        
    </div>
    
</div>
{% endblock %}


<!-- {% block content %}



{% endblock %} -->

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js'></script>

<script src="{% static 'javascript/candlestick-twse-2.js' %}"></script>
<script src="{% static 'javascript/monitor-6.js' %}"></script>
{% endblock %}

