<div class="row">
    <div class="col-lg-3 mb-2 vcenter-item">
        <div class="card">
            <div class="card-header bg-white">
                <h6 class="text-uppercase mb-0"><i class="fas fa-arrow-up red"></i>&nbsp;上漲聲量</h6>
            </div>
            <div class="card-body">

                <p class="card-text red monitor" id="Rise"></p>

            </div>
        </div>
    </div>
    <div class="col-lg-3 mb-2">
        <div class="card">
            <div class="card-header bg-white">
                <h6 class="text-uppercase mb-0"><i class="fas fa-arrow-down green"></i>&nbsp;下跌聲量</h6>
            </div>
            <div class="card-body">
                <p class="card-text green monitor vcenter-item" id="Fall"></p>

            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-2">
        <div class="card">
            <div class="card-header bg-white">
                <h6 class="text-uppercase mb-0"><i class="fas fa-chart-line red"></i>
                    &nbsp;今日股票走勢
                </h6>
            </div>
            <div class="card-body">
                <!-- <div class='monitor' id='myDiv'></div> -->
                <canvas id="myDiv"></canvas>
            </div>
        </div>
    </div>
</div>
